@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("..//fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("..//fonts/OpenSans-SemiBold.woff.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("..//fonts/OpenSans-Bold.woff2") format("woff2"),
    url("..//fonts/OpenSans-Bold.woff") format("woff");
}

/* ================================== GLOBAL ========================================== */

:root {
  --black: #000;
  --carbon: #333;
  --squant: #666;
  --basalt-grey: #999999;
  --teasel-dipsacus: #d1a9f0;
  --azuremyst-isle: #c283f3;
  --ripe-lavander: #9d5cd0;
  --shiner: #7943a4;
  --american-green: #30bf39;
  --cerulean: #26a5e4;
  --lava: #d11616;
  --leadbelcher: #cacaca;
  --coronation: #ececec;
  --white: #ffffff;
  --gap_desktop: 160px;
  --gap_tablet: 50px;
  --gap_mobile: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
}

html {
  font-family: "OpenSans", "sans-serif";
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  background-color: transparent;
}

.container {
  margin: 0 var(--gap_desktop);
}

.btn {
  padding: 18px 38px;
  border-radius: 16px;
}

.section {
  margin-bottom: 80px;
}

.title {
  margin-bottom: 15px;
  font-family: "OpenSans";
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  color: var(--carbon);
}

.card-title {
  font-family: "OpenSans";
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: var(--carbon);
}

.descr {
  max-width: 1080px;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--carbon);
}

.subdescr {
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--basalt-grey);
}

.logo {
  margin-right: 11.3%;
  width: 10.6%;
}

.feedback-form__btn-sbt--small {
  display: none;
}

/* ================================== GLOBAL ========================================== */

/* ------------------------ HEADER ------------------------*/

.header {
  padding: 30px 0;
  background-color: var(--black);
}

.nav {
  display: flex;
  flex-grow: 2;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--white);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24.2%;
  width: 100%;
}

.header__desktop-nav {
  display: flex;
  justify-content: space-between;
}

.header__mobile-nav {
  display: none;
}

.search-btn {
  margin-top: 5px;
}
/* ------------------------ HEADER ------------------------*/

/* ------------------------ HERO ------------------------*/

.hero {
  background-image: url("../img/hero/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__inner {
  padding-top: 150px;
  max-width: 556px;
}

.hero__title {
  margin-bottom: 20px;
  font-family: "OpenSans";
  font-size: 72px;
  font-weight: 700;
  line-height: 68px;
  color: var(--white);
}

.hero__descr {
  margin-bottom: 91px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
}

.hero__link {
  display: inline-block;
  margin-bottom: 147px;
  padding: 22.5px 35px;
  background-color: var(--azuremyst-isle);
  border-radius: 100px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}

/* ------------------------ HERO ------------------------*/

/* ------------------------ ABOUT ------------------------*/
.about {
  margin-bottom: 70px;
}
/* ------------------------ ABOUT ------------------------*/

/* ------------------------ GALLERY ------------------------*/
.gallery {
  background-image: url("../img/gallery/bg__gallery__1920.jpg");
}

.gallery__title {
  margin-bottom: 20px;
  padding-top: 80px;
  color: var(--white);
}

.gallery-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.custom-checkbox {
  user-select: none;
  cursor: pointer;
}

.custom-checkbox__input {
  position: absolute;
  appearance: none;
}

.custom-checkbox__text {
  position: relative;
  padding-left: 22px;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white);
}

.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  transform: translateY(-50%);
}

.custom-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background-image: url("../img/check_dot.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-checkbox__input:checked + .custom-checkbox__text::after {
  opacity: 1;
}

.gallery-pic__list {
  display: flex;
  gap: 45px;
}

/* ------------------------ GALLERY ------------------------*/

/* ------------------------ CATALOG ------------------------*/

.catalog__item {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-bottom: 50px;
}

.catalog__descr {
  margin-bottom: 40px;
}

.catalog__img {
  margin-left: -5px;
}

.catalog__inner {
  padding-top: 120px;
}

.catalog__inner-title {
  margin-bottom: 5px;
}

.catalog__inner-subdescr {
  display: block;
  margin-bottom: 15px;
}

/* ------------------------ CATALOG ------------------------*/

/* ------------------------ EVENTS ------------------------*/

.events__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.event {
  display: flex;
  flex-direction: column;
  width: calc((100% - (50px * 2)) / 3);
}

.event__img {
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.event__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  min-height: 400px;
  padding-top: 13px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid var(--leadbelcher);
}

.event__subdescr {
  display: block;
}

.event__subdescr-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 13px;
}

.event__title {
  margin-bottom: 10px;
}

.event__descr {
  margin-bottom: 15px;
}

.event__link {
  max-width: fit-content;
  margin-top: auto;
  padding-bottom: 4px;
  color: var(--ripe-lavander);
  border-bottom: 1px solid var(--ripe-lavander);
}

/* ------------------------ EVENTS ------------------------*/

/* ------------------------ PROJECTS ------------------------*/

.projects {
  margin-bottom: 35px;
  border-bottom: 1px solid var(--leadbelcher);
}

.projects__title {
  margin-bottom: 16px;
}

.projects__descr {
  margin-bottom: 34px;
}

.partner {
  padding-bottom: 80px;
}

.partners__list {
  display: flex;
  gap: 34px;
}

.partners__title {
  margin-bottom: 15px;
}

.partner__link {
  display: block;
  padding: 24px;
  border: 1px solid var(--leadbelcher);
}

/* ------------------------ PROJECTS ------------------------*/

/* ------------------------ FEEDBACK ------------------------*/

.feedback {
  margin-bottom: 33px;
}
.feedback__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px 80px;
}

.feedback-form {
  display: flex;
  gap: 20px;
}

.address__point {
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 32px;
  color: var(--carbon);
}

.feedback-form__input {
  padding: 15px 38px;
  border-radius: 100px;
  border: 1px solid var(--carbon);
  cursor: pointer;
}

.feedback-form__input::placeholder {
  transform: translateX(-20px) translateY(-2px);
}

.feedback-form__btn-sbt {
  padding: 9px 35px;
  background-color: transparent;
  text-align: center;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--ripe-lavander);
  border: 2px solid var(--ripe-lavander);
  border-radius: 100px;
  cursor: pointer;
}

.messengers {
  margin-left: -5px;
}

.messengers-wrapper {
  display: flex;
  flex-direction: row;
}

.messengers__title {
  margin-bottom: 8px;
  font-family: "OpenSans";
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  color: var(--carbon);
}

.messengers__link {
  display: block;
  width: fit-content;
}

.messengers__link:not(:last-child) {
  margin-right: 15px;
}

/* ------------------------ FEEDBACK ------------------------*/

/* ------------------------ FOOTER ------------------------*/
.footer {
  background-color: var(--black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.messengers__icon--vk,
.messengers__icon--ok {
  width: 45px;
}

/* ------------------------ FOOTER ------------------------*/

@media (max-width: 1700px) {
  .gallery-wrapper {
    flex-direction: column;
  }

  .checkbox-wrapper {
    margin-bottom: 30px;
  }

  .gallery-pic__list {
    justify-content: space-between;
  }
}

/* ------------------------ FEEDBACK ------------------------*/

/* ------------------------ FEEDBACK ------------------------*/

@media (max-width: 1440px) {
  /* ------------------------ HEADER ------------------------*/

  .header {
    padding-top: 32px;
    padding-bottom: 25px;
  }

  .container {
    margin: 0 var(--gap_tablet);
  }

  .header__desktop-nav {
    margin-bottom: 24px;
  }

  .desktop-nav {
    display: none;
  }

  .logo {
    margin-right: 0;
    width: 20.3%;
  }

  .nav__list {
    margin-right: 0;
  }

  .search-btn {
    margin-right: 0;
  }

  .header__mobile-nav {
    display: block;
  }
  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    display: flex;
    flex-direction: column;
    padding-top: 101px;
    max-width: 666px;
  }

  .hero__descr {
    margin-bottom: 133px;
  }

  .hero__link {
    margin-bottom: 102px;
    max-width: 314px;
  }
  /* ------------------------ HERO ------------------------*/

  /* ------------------------ GALLERY ------------------------*/
  .gallery__title {
    margin-bottom: 15px;
  }

  .checkbox-wrapper {
    margin-bottom: 25px;
  }

  /* ------------------------ GALLERY ------------------------*/

  /* ------------------------ CATALOG ------------------------*/
  .catalog__item {
    flex-direction: column;
    gap: 30px;
  }

  .catalog__inner {
    padding-top: 0;
  }

  .catalog__inner-title {
    margin-bottom: 8px;
  }
  /* ------------------------ CATALOG ------------------------*/

  /* ------------------------ EVENTS ------------------------*/

  .events__list {
    gap: 27px;
  }

  .event {
    min-height: 684px;
    width: calc((100% - (27px * 2)) / 3);
  }

  .event__img {
    height: 200px;
  }

  .event__content {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 49px;
  }

  .event__subdescr-wrapper {
    align-items: flex-end;
    margin-left: auto;
    margin-bottom: 3px;
  }
  .event__title {
    margin-bottom: 7px;
  }

  /* ------------------------ EVENTS ------------------------*/

  /* ------------------------ PROJECTS ------------------------*/

  .projects {
    margin-bottom: 40px;
  }
  .projects__title {
    margin-bottom: 20px;
  }

  .projects__descr {
    margin-bottom: 20px;
  }

  /* ------------------------ PROJECTS ------------------------*/

  /* ------------------------ FEEDBACK ------------------------*/
  .feedback {
    margin-bottom: 40px;
  }
  .feedback-form {
    flex-wrap: wrap;
  }
  .address__title {
    margin-bottom: 5px;
  }

  .feedback-form__input {
    padding: 15px 40px;
  }

  .feedback-form__btn-sbt {
    padding: 10px 42px;
  }

  .messengers {
    margin-left: 0;
  }
  .messengers__link:not(:last-child) {
    margin-right: 20px;
  }

  .messengers__icon--vk,
  .messengers__icon--ok {
    width: 60px;
  }
  /* ------------------------ FEEDBACK ------------------------*/

  .footer__logo {
    width: 19%;
  }
}

@media (max-width: 768px) {
  /* ------------------------ HEADER ------------------------*/

  .logo {
    width: 28.3%;
  }

  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    padding-top: 87px;
    max-width: 556px;
  }

  .hero__link {
    margin-bottom: 86px;
  }

  /* ------------------------ HERO ------------------------*/

  /* ------------------------ GALLERY ------------------------*/

  .gallery-pic__list {
    gap: 34px;
  }

  /* ------------------------ GALLERY ------------------------*/

  /* ------------------------ GALLERY ------------------------*/
  .catalog__item {
    gap: 32px;
  }

  .catalog__inner-subdescr {
    margin-bottom: 5px;
  }
  /* ------------------------ GALLERY ------------------------*/

  /* ------------------------ EVENTS ------------------------*/

  .events__list {
    flex-direction: column;
    gap: 30px;
  }

  .event {
    width: 100%;
    min-height: 528px;
  }

  .event__content {
    min-height: 328px;
  }

  .event__title {
    margin-bottom: 15px;
  }

  /* ------------------------ EVENTS ------------------------*/
  /* ------------------------ PROJECTS ------------------------*/

  .projects__descr {
    margin-bottom: 27px;
  }
  .partners__title {
    margin-bottom: 30px;
  }
  /* ------------------------ PROJECTS ------------------------*/
  /* ------------------------ FEEDBACK ------------------------*/

  .feedback {
    margin-bottom: 38px;
  }
  .feedback-form {
    gap: 12px 20px;
    margin-bottom: 5px;
  }

  .feedback-form__input {
    padding: 15px 67px;
  }

  .feedback-form__input::placeholder {
    transform: translateX(-42px) translateY(-2px);
  }

  .feedback-form__btn-sbt {
    padding: 10px 28px;
  }

  .messengers__icon--whatsapp,
  .messengers__icon--telegram {
    width: 40px;
  }
  /* ------------------------ FEEDBACK ------------------------*/

  .footer__logo {
    width: 26.3%;
  }
}

@media (max-width: 650px) {
  /* GLOBAL */

  .section {
    margin-bottom: 50px;
  }

  .title {
    margin-bottom: 12px;
    font-size: 28px;
  }

  .descr {
    font-size: 16px;
    line-height: 32px;
  }

  /* GLOBAL */

  /* ------------------------ HEADER ------------------------*/

  .header {
    padding-top: 14px;
    padding-bottom: 11px;
  }

  .container {
    margin: 0 var(--gap_mobile);
  }

  .header__desktop-nav {
    margin-bottom: 10px;
  }

  .logo {
    width: 33.3%;
  }

  .nav {
    font-size: 12px;
  }

  .nav__list {
    overflow-y: hidden;
  }

  .nav__item:not(:last-child) {
    margin-right: 27px;
  }

  .search-btn__icon {
    width: 18px;
    height: 18px;
  }
  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    padding-top: 50px;
    align-items: center;
  }

  .hero__title {
    margin-bottom: 9px;
    text-align: center;
    font-size: 32px;
    line-height: 28px;
  }

  .hero__descr {
    margin-bottom: 37px;
    max-width: 250px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  .hero__link {
    margin-bottom: 50px;
    padding: 11.5px 18px;
    max-width: 200px;
    font-size: 12px;
    line-height: normal;
  }
  /* ------------------------ HERO ------------------------*/

  /* ------------------------ ABOUT ------------------------*/

  .about {
    margin-bottom: 42px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }
  /* ------------------------ ABOUT ------------------------*/

  /* ------------------------ GALLERY ------------------------*/

  .gallery {
    margin-bottom: 50px;
  }

  .gallery-wrapper {
    padding-bottom: 45px;
  }

  .gallery__title {
    padding-top: 50px;
  }

  .gallery-pic__list {
    flex-direction: column;
    gap: 26px;
  }
  /* ------------------------ GALLERY ------------------------*/

  /* ------------------------ CATALOG ------------------------*/

  .catalog__item {
    gap: 0px;
    margin-bottom: 30px;
  }

  .catalog__inner-title {
    max-width: 285px;
  }

  .catalog__img {
    margin-bottom: 19px;
  }

  .catalog__inner-subdescr {
    margin-bottom: 13px;
  }
  .catalog__descr {
    margin-bottom: 30px;
  }
  /* ------------------------ CATALOG ------------------------*/

  /* ------------------------ EVENTS ------------------------*/

  .events__list {
    flex-direction: column;
    gap: 20px;
  }

  .event {
    width: 100%;
    min-height: 683px;
  }

  .event__content {
    padding-left: 21px;
    padding-right: 17px;
    padding-bottom: 52px;
    min-height: 328px;
  }
  .event__subdescr-wrapper {
    margin-bottom: 9px;
  }

  .event__title {
    margin-bottom: 5px;
  }

  .event__link {
    padding-left: 7px;
  }

  /* ------------------------ EVENTS ------------------------*/
  /* ------------------------ PROJECTS ------------------------*/
  .projects {
    margin-bottom: -2px;
  }
  .projects__descr {
    margin-bottom: 18px;
  }
  /* ------------------------ PROJECTS ------------------------*/
  /*------------------------ partner ------------------------*/

  .partners__title {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 32px;
  }
  .partners__list {
    flex-direction: column;
    gap: 10px;
  }

  .partner {
    padding-bottom: 0;
  }

  .partner:last-child {
    padding-bottom: 50px;
  }

  .partner__link {
    padding: 28px 65px;
  }

  .partner_logo {
    max-width: 160px;
  }

  /* ------------------------ partner ------------------------*/

  /* ------------------------ FEEDBACK ------------------------*/
  .feedback {
    margin-bottom: 32px;
  }
  .feedback__container {
    gap: 12px 80px;
  }

  .address__title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .address__point {
    font-size: 14px;
  }
  .feedback-form {
    gap: 20px 20px;
  }
  .feedback-form__input {
    padding: 10px 50px;
  }

  .feedback-form__input::placeholder {
    transform: translateX(-28px) translateY(0);
  }

  .feedback-form__btn-sbt {
    display: none;
  }
  .feedback-form__btn-sbt--small {
    display: block;
    padding: 10px 33px;
    font-size: 12px;
  }

  .messengers__title {
    font-size: 18px;
  }

  .messengers__icon--whatsapp,
  .messengers__icon--telegram {
    width: 50px;
    height: 50px;
  }

  /* ------------------------ FEEDBACK ------------------------*/
  /* ------------------------ FOOTER ------------------------*/

  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0;
  }

  .messengers-wrapper {
    margin-bottom: 15px;
  }

  .messengers__icon--vk,
  .messengers__icon--ok {
    width: 50px;
    height: 50px;
  }

  /* ------------------------ FOOTER ------------------------*/
}
