@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("..//fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("..//fonts/OpenSans-SemiBold.woff.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("..//fonts/OpenSans-Bold.woff2") format("woff2"),
    url("..//fonts/OpenSans-Bold.woff") format("woff");
}

/* ================================== GLOBAL ========================================== */

:root {
  --black: #000;
  --carbon: #333;
  --squant: #666;
  --basalt-grey: #999999;
  --teasel-dipsacus: #d1a9f0;
  --azuremyst-isle: #c283f3;
  --ripe-lavander: #9d5cd0;
  --shiner: #7943a4;
  --american-green: #30bf39;
  --cerulean: #26a5e4;
  --lava: #d11616;
  --leadbelcher: #cacaca;
  --coronation: #ececec;
  --white: #ffffff;
  --gap_desktop: 160px;
  --gap_tablet: 50px;
  --gap_mobile: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
}

html {
  font-family: "OpenSans", "sans-serif";
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  background-color: transparent;
}

.container {
  margin: 0 var(--gap_desktop);
}

.btn {
  padding: 18px 38px;
  border-radius: 16px;
}

.section {
  margin-bottom: 80px;
}

.title {
}

.subtitle {
}

.descr {
}

.subdescr {
}

/* ================================== GLOBAL ========================================== */

/* ------------------------ HEADER ------------------------*/

.header {
  padding: 30px 0;
  background-color: var(--black);
}

.header__logo {
  margin-right: 11.3%;
  width: 10.6%;
}

.nav {
  display: flex;
  flex-grow: 2;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--white);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24.2%;
  width: 100%;
}

.header__desktop-nav {
  display: flex;
  justify-content: space-between;
}

.header__mobile-nav {
  display: none;
}

.search-btn {
  margin-top: 5px;
}
/* ------------------------ HEADER ------------------------*/

/* ------------------------ HERO ------------------------*/

.hero {
  background-image: url("../img/hero/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__inner {
  padding-top: 150px;
  max-width: 556px;
}

.hero__title {
  margin-bottom: 20px;
  font-family: "OpenSans";
  font-size: 72px;
  font-weight: 700;
  line-height: 68px;
  color: var(--white);
}

.hero__descr {
  margin-bottom: 91px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
}

.hero__link {
  display: inline-block;
  margin-bottom: 147px;
  padding: 22.5px 35px;
  background-color: var(--azuremyst-isle);
  border-radius: 100px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}

/* ------------------------ HERO ------------------------*/

@media (max-width: 1440px) {
  /* ------------------------ HEADER ------------------------*/

  .header {
    padding-top: 32px;
    padding-bottom: 25px;
  }

  .container {
    margin: 0 var(--gap_tablet);
  }

  .header__desktop-nav {
    margin-bottom: 24px;
  }

  .desktop-nav {
    display: none;
  }

  .header__logo {
    margin-right: 0;
    width: 20.3%;
  }

  .nav__list {
    margin-right: 0;
  }

  .search-btn {
    margin-right: 0;
  }

  .header__mobile-nav {
    display: block;
  }
  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    display: flex;
    flex-direction: column;
    padding-top: 101px;
    max-width: 666px;
  }

  .hero__descr {
    margin-bottom: 133px;
  }

  .hero__link {
    margin-bottom: 102px;
    max-width: 314px;
  }
  /* ------------------------ HERO ------------------------*/
}

@media (max-width: 768px) {
  /* ------------------------ HEADER ------------------------*/

  .header__logo {
    width: 28.3%;
  }

  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    padding-top: 87px;
    max-width: 556px;
  }

  .hero__link {
    margin-bottom: 86px;
  }

  /* ------------------------ HERO ------------------------*/
}

@media (max-width: 650px) {
  /* ------------------------ HEADER ------------------------*/

  .header {
    padding-top: 14px;
    padding-bottom: 11px;
  }

  .container {
    margin: 0 var(--gap_mobile);
  }

  .header__desktop-nav {
    margin-bottom: 10px;
  }

  .header__logo {
    width: 33.3%;
  }

  .nav {
    font-size: 12px;
  }

  .nav__list {
    overflow-y: hidden;
  }

  .nav__item:not(:last-child) {
    margin-right: 27px;
  }

  .search-btn__icon {
    width: 18px;
    height: 18px;
  }
  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    padding-top: 50px;
    max-width: 500px;
    align-items: center;
  }

  .hero__title {
    margin-bottom: 9px;
    text-align: center;
    font-size: 32px;
    line-height: 28px;
  }

  .hero__descr {
    margin-bottom: 37px;
    max-width: 250px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  .hero__link {
    margin-bottom: 50px;
    padding: 11.5px 18px;
    max-width: 200px;
    font-size: 12px;
    line-height: normal;
  }
  /* ------------------------ HERO ------------------------*/
}
