@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("..//fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("..//fonts/OpenSans-SemiBold.woff.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("..//fonts/OpenSans-Bold.woff2") format("woff2"),
    url("..//fonts/OpenSans-Bold.woff") format("woff");
}

/* ================================== GLOBAL ========================================== */

:root {
  --black: #000;
  --carbon: #333;
  --squant: #666;
  --basalt-grey: #999999;
  --teasel-dipsacus: #d1a9f0;
  --azuremyst-isle: #c283f3;
  --ripe-lavander: #9d5cd0;
  --shiner: #7943a4;
  --american-green: #30bf39;
  --cerulean: #26a5e4;
  --lava: #d11616;
  --leadbelcher: #cacaca;
  --coronation: #ececec;
  --white: #ffffff;
  --gap_desktop: 160px;
  --gap_tablet: 50px;
  --gap_mobile: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
}

html {
  font-family: "OpenSans", "sans-serif";
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  background-color: transparent;
}

.container {
  margin: 0 var(--gap_desktop);
}

.btn {
  padding: 18px 38px;
  border-radius: 16px;
}

.section {
  margin-bottom: 80px;
}

.title {
  margin-bottom: 16px;
  font-family: "OpenSans";
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  color: var(--carbon);
}

.card-title {
  font-family: "OpenSans";
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: var(--carbon);
}

.descr {
  max-width: 1080px;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--carbon);
}

.subdescr {
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--basalt-grey);
}

/* ================================== GLOBAL ========================================== */

/* ------------------------ HEADER ------------------------*/

.header {
  padding: 30px 0;
  background-color: var(--black);
}

.header__logo {
  margin-right: 11.3%;
  width: 10.6%;
}

.nav {
  display: flex;
  flex-grow: 2;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--white);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24.2%;
  width: 100%;
}

.header__desktop-nav {
  display: flex;
  justify-content: space-between;
}

.header__mobile-nav {
  display: none;
}

.search-btn {
  margin-top: 5px;
}
/* ------------------------ HEADER ------------------------*/

/* ------------------------ HERO ------------------------*/

.hero {
  background-image: url("../img/hero/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__inner {
  padding-top: 150px;
  max-width: 556px;
}

.hero__title {
  margin-bottom: 20px;
  font-family: "OpenSans";
  font-size: 72px;
  font-weight: 700;
  line-height: 68px;
  color: var(--white);
}

.hero__descr {
  margin-bottom: 91px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
}

.hero__link {
  display: inline-block;
  margin-bottom: 147px;
  padding: 22.5px 35px;
  background-color: var(--azuremyst-isle);
  border-radius: 100px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}

/* ------------------------ HERO ------------------------*/

/* ------------------------ ABOUT ------------------------*/
.about {
  margin-bottom: 70px;
}
/* ------------------------ ABOUT ------------------------*/

/* ------------------------ GALLERY ------------------------*/
.gallery {
  background-image: url("../img/gallery/bg__gallery__1920.jpg");
}

.gallery__title {
  margin-bottom: 20px;
  padding-top: 80px;
  color: var(--white);
}

.gallery-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.custom-checkbox {
  user-select: none;
  cursor: pointer;
}

.custom-checkbox__input {
  position: absolute;
  appearance: none;
}

.custom-checkbox__text {
  position: relative;
  padding-left: 22px;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white);
}

.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  transform: translateY(-50%);
}

.custom-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background-image: url("../img/check_dot.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-checkbox__input:checked + .custom-checkbox__text::after {
  opacity: 1;
}

.gallery-pic__list {
  display: flex;
  gap: 45px;
}

/* ------------------------ GALLERY ------------------------*/

/* ------------------------ CATALOG ------------------------*/

.catalog__item {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-bottom: 50px;
}

.catalog__descr {
  margin-bottom: 40px;
}

.catalog__img {
  margin-left: -5px;
}

.catalog__inner {
  padding-top: 120px;
}

.catalog__inner-title {
  margin-bottom: 5px;
}

.catalog__inner-subdescr {
  display: block;
  margin-bottom: 15px;
}

/* ------------------------ CATALOG ------------------------*/

@media (max-width: 1700px) {
  .gallery-wrapper {
    flex-direction: column;
  }

  .checkbox-wrapper {
    margin-bottom: 30px;
  }

  .gallery-pic__list {
    justify-content: space-between;
  }
}
/* ------------------------ CATALOG ------------------------*/

/* ------------------------ CATALOG ------------------------*/

.events__list {
  display: flex;
  gap: 43px;
}

.event {
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.event__img {
  margin-bottom: 13px;
  max-width: none;
}

.event__inner {
  padding-left: 50px;
}

.event__subdescr {
  display: block;
}

.event__subdescr-wrapper {
  margin-bottom: 13px;
}

/* ------------------------ CATALOG ------------------------*/

@media (max-width: 1440px) {
  /* ------------------------ HEADER ------------------------*/

  .header {
    padding-top: 32px;
    padding-bottom: 25px;
  }

  .container {
    margin: 0 var(--gap_tablet);
  }

  .header__desktop-nav {
    margin-bottom: 24px;
  }

  .desktop-nav {
    display: none;
  }

  .header__logo {
    margin-right: 0;
    width: 20.3%;
  }

  .nav__list {
    margin-right: 0;
  }

  .search-btn {
    margin-right: 0;
  }

  .header__mobile-nav {
    display: block;
  }
  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    display: flex;
    flex-direction: column;
    padding-top: 101px;
    max-width: 666px;
  }

  .hero__descr {
    margin-bottom: 133px;
  }

  .hero__link {
    margin-bottom: 102px;
    max-width: 314px;
  }
  /* ------------------------ HERO ------------------------*/

  /* ------------------------ GALLERY ------------------------*/
  .gallery__title {
    margin-bottom: 15px;
  }

  .checkbox-wrapper {
    margin-bottom: 25px;
  }

  /* ------------------------ GALLERY ------------------------*/

  /* ------------------------ CATALOG ------------------------*/
  .catalog__item {
    flex-direction: column;
    gap: 30px;
  }

  .catalog__inner {
    padding-top: 0;
  }

  .catalog__inner-title {
    margin-bottom: 8px;
  }
  /* ------------------------ CATALOG ------------------------*/
}

@media (max-width: 768px) {
  /* ------------------------ HEADER ------------------------*/

  .header__logo {
    width: 28.3%;
  }

  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    padding-top: 87px;
    max-width: 556px;
  }

  .hero__link {
    margin-bottom: 86px;
  }

  /* ------------------------ HERO ------------------------*/

  /* ------------------------ GALLERY ------------------------*/

  .gallery-pic__list {
    gap: 34px;
  }

  /* ------------------------ GALLERY ------------------------*/

  /* ------------------------ GALLERY ------------------------*/
  .catalog__item {
    gap: 32px;
  }

  .catalog__inner-subdescr {
    margin-bottom: 5px;
  }
  /* ------------------------ GALLERY ------------------------*/
}

@media (max-width: 650px) {
  /* GLOBAL */

  .section {
    margin-bottom: 50px;
  }

  .title {
    margin-bottom: 12px;
    font-size: 28px;
  }

  .descr {
    font-size: 16px;
    line-height: 32px;
  }

  /* GLOBAL */

  /* ------------------------ HEADER ------------------------*/

  .header {
    padding-top: 14px;
    padding-bottom: 11px;
  }

  .container {
    margin: 0 var(--gap_mobile);
  }

  .header__desktop-nav {
    margin-bottom: 10px;
  }

  .header__logo {
    width: 33.3%;
  }

  .nav {
    font-size: 12px;
  }

  .nav__list {
    overflow-y: hidden;
  }

  .nav__item:not(:last-child) {
    margin-right: 27px;
  }

  .search-btn__icon {
    width: 18px;
    height: 18px;
  }
  /* ------------------------ HEADER ------------------------*/

  /* ------------------------ HERO ------------------------*/
  .hero__inner {
    padding-top: 50px;
    align-items: center;
  }

  .hero__title {
    margin-bottom: 9px;
    text-align: center;
    font-size: 32px;
    line-height: 28px;
  }

  .hero__descr {
    margin-bottom: 37px;
    max-width: 250px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  .hero__link {
    margin-bottom: 50px;
    padding: 11.5px 18px;
    max-width: 200px;
    font-size: 12px;
    line-height: normal;
  }
  /* ------------------------ HERO ------------------------*/

  /* ------------------------ ABOUT ------------------------*/

  .about {
    margin-bottom: 42px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }
  /* ------------------------ ABOUT ------------------------*/

  /* ------------------------ GALLERY ------------------------*/

  .gallery {
    margin-bottom: 50px;
  }

  .gallery-wrapper {
    padding-bottom: 45px;
  }

  .gallery__title {
    padding-top: 50px;
  }

  .gallery-pic__list {
    flex-direction: column;
    gap: 26px;
  }
  /* ------------------------ GALLERY ------------------------*/

  /* ------------------------ CATALOG ------------------------*/

  .catalog__item {
    gap: 0px;
    margin-bottom: 30px;
  }

  .catalog__img {
    margin-bottom: 19px;
  }

  .catalog__inner-subdescr {
    margin-bottom: 13px;
  }
  .catalog__descr {
    margin-bottom: 30px;
  }
  /* ------------------------ CATALOG ------------------------*/
}
